server:
  port: 8071

spring:
  application:
    name: "configserver"
  profiles:
    #active: native
    active: git
  cloud:
    config:
      server:
        #native:
          # search-locations: "classpath:/config"
          #search-locations: "file:///C://Users//babai//OneDrive//Belgeler//config"
        git:
          uri: "https://github.com/Emirhan58/kiwix-config.git"
          default-label: main # default branch name
          timeout: 5
          clone-on-start: true
          force-pull: true
  rabbitmq:
    host: "localhost"
    port: 5672
    username: "guest"
    password: "guest"

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true
  metrics:
    tags:
      application: ${spring.application.name}

encrypt:
  key: "5MobYBDKxInZgMb5bQF2XDJYsYiQ1M17"

logging:
  pattern:
    level: "%5p [${spring.application.name},%X{trace_id},%X{span_id}]"